config DT_NETWORK_SUPPORT
    bool "Enable network support"
    default n
    help
        Enable this option to support network devices.
if DT_NETWORK_SUPPORT
    choice DT_NETWORK_SELECT
        prompt "Network component"
        default DT_NETWORK_PROVISION
        help
            Choose the network device you want to support.
        config DT_NETWORK_PROVISION
            bool "Provisioning"
            select DT_PROVISION
            help
                Enable this option to support device network provisioning
        config DT_NETWORK_QEMU
            bool "QEMU"
            help
                Enable this option to support QEMU network connectivity
    endchoice
endif